/laba2.1/.idea
/laba2.2/.idea
/laba2.3/.idea
/laba2.4/.idea
/laba2.5/.idea
/laba2.6/.idea
/laba2.6/.idea
/laba2.7/.idea
/QuickSort/.idea

/laba2.1/cmake-build-debug
/laba2.2/cmake-build-debug
/laba2.3/cmake-build-debug
/laba2.4/cmake-build-debug
/laba2.5/cmake-build-debug
/laba2.6/cmake-build-debug
/laba2.6/cmake-build-debug
/laba2.7/cmake-build-debug
/QuickSort/cmake-build-debug

/.idea
